.Tenome {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

body,
html,
#root {
    margin: 0;
    padding: 30;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    /* To prevent any unwanted scrollbars */
}

.overlay {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 450px;
    height: 300px;
    z-index: 2;
    color: black;
    display: flex;
    flex-direction: column;
}

.overlay .input-container {
    display: flex;
    align-items: center;
    /* This will ensure the input and button are vertically centered in relation to each other */
}

.overlay .input-container,
.overlay .textarea-container {
    margin: -5px;
    /* Reset margin */
    padding: 1px;
}

.overlay .input-container {
    flex: 0.2;
}

.overlay .textarea-container {
    flex: 0.8;
}

.overlay textarea {
    width: 98.5%;
    height: 97%;
    border-radius: 13px;
    resize: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.overlay input {
    font-size: 25px;
    border-radius: 13px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    margin: 0px;
}

#edit-button {
    margin-left: 10px;
    font-size: 25px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 13px;
    width: 128px
}

#edit-button:hover {
    border-color: #646cff;
    color: #646cff;
    transition: 0.3s;
}

#save-button {
    margin-left: 0px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 13px;
    background-color: transparent;
    color: black;
    width: 128px
}

#save-button:hover {
    border-color: #646cff;
    color: #646cff;
    transition: 0.3s;
}

.tooltip {
    position: absolute;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 13px;
    z-index: 100;
    cursor: pointer;

}

.tooltip-option {
    height: 40px;
    width: 80px;
    font-size: 12px;
    display: flex;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.tooltip-option:hover {
    background-color: grey;
}

.toggle-view-button {
    z-index: 3;
    background-color: transparent;
    position: absolute;
    color: black;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 23px;
    cursor: pointer;
}

.toggle-view-button:hover {
    background-color: grey;
}

.action-button {
    margin-left: 3px;
    font-size: 25px;
    width: 130px;
    border: 1px solid black;
    border-radius: 13px;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.action-button:hover {
    border-color: #646cff;
    color: #646cff;
    transition: 0.3s;
}

#buttons-container {
    padding-top: 10px;
    position: relative;
    /* Use relative if you don't have a specific need for absolute */
    z-index: 3;
    display: flex;
    margin: 0 auto;
    /* Horizontal centering */
    justify-content: center;
    width: fit-content;
    /* Make the width just large enough to fit its content */
}

#search-button:hover {
    color: black;
    border: black;
    background-color: rgba(255, 68, 68, 0.722);
}

#journey-button:hover {
    color: black;
    border: black;
    background-color: rgba(77, 68, 255, 0.722);
}

#home-button:hover {
    color: black;
    border: black;
    background-color: rgba(78, 255, 84, 0.722);
}

#node-search {
    width: 130px;
    height: auto;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 13px;
    background-color: transparent;
}

.suggestions-box {
    position: absolute;
    width: 130px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.861);
    margin-left: 3px;
}

#actions-container {
    position: absolute;
    background-color: transparent;
    padding-right: 0    px;
    border-radius: 13px;
    z-index: 3;
    right: 0%;
    /* This will position the container 10% from the right edge */
    top: 50%;
    /* This will position the container at the vertical center */
    transform: translateY(-50%);
    /* This will adjust the container to truly center it vertically */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#remixButton {
    border: 1px solid white;
    background-color: #5EC4F0;
    font-size: 25px;
    border-radius: 33px;
    width: 140px;
    height: 40px;
}

#applyButton {
    opacity: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(78, 255, 84, 0.722);
    border: transparent;
    border-radius: 100%;
}

#thresholdSlider {
    width: 130px;
    opacity: 0;
}

#threshold-container {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

#thresholdValue {
    color: black;
    opacity: 0;
    position: absolute;
    bottom: -20px;
    /* adjust this as needed */
}

#uploadButton {
    border: 1px solid white;
    background-color: #A9FF53;
    font-size: 25px;
    border-radius: 33px;
    width: 140px;
    height: 40px;
}